<?xml version="1.0"?>

<!--
 FOG Service : A computer management client for the FOG Project
 Copyright (C) 2014-2023 FOG Project

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 3
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="FOG">
          <Component Id="StandardComponent" Guid="6B3603AE-3C03-4322-AA6F-6BA7B2417304" DiskId="1">

            <File Id="FOGService" Name="FOGService.exe" Source="..\bin\FOGService.exe"/>
            
            <File Id="FOGCA" Name="fog.ca.cer" Source="..\UniversalInstaller\Scripts\fog-ca.cer" />            
            <File Id="LicenseFile" Name="license.rtf" Source="license.rtf" />

            <File Id="logo" Name="logo.ico" Source="..\bin\logo.ico" />
            <File Id="MetroFramework" Name="MetroFramework.dll" Source="..\bin\MetroFramework.dll" />
            <File Id="MetroFramework.Fonts" Name="MetroFramework.Fonts.dll" Source="..\bin\MetroFramework.Fonts.dll" />
            <File Id="themes" Name="themes.xml" Source="..\themes.xml" />

            <File Id="FOGTray" Name="FOGTray.exe" Source="..\bin\FOGTray.exe"/>
            <File Id="FOGUpdateHelper" Name="FOGUpdateHelper.exe" Source="..\bin\FOGUpdateHelper.exe" />
            <File Id="FOGUpdateWaiter" Name="FOGUpdateWaiter.exe" Source="..\bin\FOGUpdateWaiter.exe" />
            <File Id="FOGShutdownGUI" Name="FOGShutdownGUI.exe" Source="..\bin\FOGShutdownGUI.exe"/>
            <File Id="FOGUserService" Name="FOGUserService.exe" Source="..\bin\FOGUserService.exe"/>
            
            <File Id="Zazzles" Name="Zazzles.dll" Source="..\bin\Zazzles.dll" />
            <File Id="Modules" Name="Modules.dll" Source="..\bin\Modules.dll" />
            
            <File Id="Newtonsoft.Json" Name="Newtonsoft.Json.dll" Source="..\bin\Newtonsoft.Json.dll" />
            <File Id="EngineIoClientDotNet" Name="EngineIoClientDotNet.dll" Source="..\bin\EngineIoClientDotNet.dll" />
            <File Id="log4net" Name="log4net.dll" Source="..\bin\log4net.dll" />
            <File Id="SuperSocketClientEngine" Name="SuperSocket.ClientEngine.dll" Source="..\bin\SuperSocket.ClientEngine.dll" />
            <File Id="SuperSocketCommon" Name="SuperSocket.Common.dll" Source="..\bin\SuperSocket.Common.dll" />
            <File Id="SuperSocketSocketBase" Name="SuperSocket.SocketBase.dll" Source="..\bin\SuperSocket.SocketBase.dll" />
            <File Id="SuperSocketSocketEngine" Name="SuperSocket.SocketEngine.dll" Source="..\bin\SuperSocket.SocketEngine.dll" />
            <File Id="SuperWebSocket" Name="SuperWebSocket.dll" Source="..\bin\SuperWebSocket.dll" />
            <File Id="WebSocket4Net" Name="WebSocket4Net.dll" Source="..\bin\WebSocket4Net.dll" />
            <File Id="ProcessPrivileges" Name="ProcessPrivileges.dll" Source="..\bin\ProcessPrivileges.dll" />
            <File Id="CommonLoggingCore" Name="Common.Logging.Core.dll" Source="..\bin\Common.Logging.Core.dll" />
            <File Id="CommonLogging" Name="Common.Logging.dll" Source="..\bin\Common.Logging.dll" />
            <File Id="Quartz" Name="Quartz.dll" Source="..\bin\Quartz.dll" />
            <File Id="SharpZipLib" Name="ICSharpCode.SharpZipLib.dll" Source="..\bin\ICSharpCode.SharpZipLib.dll" />
            
            <File Id="FOGShutdownGUIconf" Name="FOGShutdownGUI.exe.config" Source="..\bin\FOGShutdownGUI.exe.config" />
            <File Id="FOGTrayconf" Name="FOGTray.exe.config" Source="..\bin\FOGTray.exe.config" />
            <File Id="FOGUpdateHelperconf" Name="FOGUpdateHelper.exe.config" Source="..\bin\FOGUpdateHelper.exe.config" />
            <File Id="FOGUpdateWaiterconf" Name="FOGUpdateWaiter.exe.config" Source="..\bin\FOGUpdateWaiter.exe.config" />
            <File Id="FOGUserServiceconf" Name="FOGUserService.exe.config" Source="..\bin\FOGUserService.exe.config" />
            <File Id="Modulesconf" Name="Modules.dll.config" Source="..\bin\Modules.dll.config" />
            <File Id="FOGServiceconf" Name="FOGService.exe.config" Source="..\bin\FOGService.exe.config" />

            <ServiceInstall
              Id="ServiceInstaller"
              Type="ownProcess"
              Name="FOGService"
              DisplayName="FOGService"
              Description="Perform tasks for the FOG Server"
              Start="auto"
              ErrorControl="normal">

              <!--Services required for internet-->
              <ServiceDependency Id="ALG" /> <!--Application Layer Gateway-->
              <ServiceDependency Id="dnscache" /> <!--DNS-->
              <ServiceDependency Id="NlaSvc" /> <!--Network Location Awareness (NLA)-->
              
              <!--Services required for API calls-->
              <ServiceDependency Id="RpcSs" /> <!--Remote Procedure Call (RPC)-->
              <ServiceDependency Id="EventSystem" /> <!--COM+ Event System-->
              <ServiceDependency Id="eventlog" /> <!--Event Logger-->
              <ServiceDependency Id="Power" /> <!--Power Policy-->
              <ServiceDependency Id="CryptSvc" /> <!--Cryptographic API-->
              <ServiceDependency Id="ProfSvc" /> <!--User Profile Service-->
              <ServiceDependency Id="Schedule" /> <!--Task Scheduler-->
              <ServiceDependency Id="winmgmt" /> <!--Windows Management Instrumentation-->

              <ServiceConfig DelayedAutoStart="yes" OnInstall="yes" OnReinstall="yes"/>
              <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="none" RestartServiceDelayInSeconds="60" ResetPeriodInDays="1"/>
            </ServiceInstall>
            <ServiceControl Id="ConfigureService" Stop="both" Remove="uninstall" Name="FOGService" Wait="yes" />
          </Component>
          <Directory Id="deDirectory" Name="de">
            <Component Id="GermanComponent" Guid="6f08a97d-79ba-4d03-9525-0016e74a088f" DiskId="1">
              <File Id="ShutdownGUIde" Name="FOGShutdownGUI.resources.dll" Source="..\bin\de\FOGShutdownGUI.resources.dll" />
              <File Id="Modulesde" Name="Modules.resources.dll" Source="..\bin\de\Modules.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="frDirectory" Name="fr">
            <Component Id="FrenchComponent" Guid="32ec1aca-87c9-4121-aa6f-0de841b90836" DiskId="1">
              <File Id="ShutdownGUIfr" Name="FOGShutdownGUI.resources.dll" Source="..\bin\fr\FOGShutdownGUI.resources.dll" />
              <File Id="Modulesfr" Name="Modules.resources.dll" Source="..\bin\fr\Modules.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="nlDirectory" Name="nl">
            <Component Id="DutchComponent" Guid="2feb0df0-6273-4752-8181-55b56694f628" DiskId="1">
              <File Id="ShutdownGUInl" Name="FOGShutdownGUI.resources.dll" Source="..\bin\nl\FOGShutdownGUI.resources.dll" />
              <File Id="Modulesnl" Name="Modules.resources.dll" Source="..\bin\nl\Modules.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="noDirectory" Name="no">
            <Component Id="NorwegianComponent" Guid="7511ee91-2708-4d9b-b242-b629c8150290" DiskId="1">
              <File Id="ShutdownGUIno" Name="FOGShutdownGUI.resources.dll" Source="..\bin\no\FOGShutdownGUI.resources.dll" />
              <File Id="Modulesno" Name="Modules.resources.dll" Source="..\bin\no\Modules.resources.dll" />
            </Component>
          </Directory> 
          <Directory Id="esDirectory" Name="es">
            <Component Id="SpanishComponent" Guid="6bbdc832-f58f-4914-8dea-154b4520af19" DiskId="1">
              <File Id="ShutdownGUIes" Name="FOGShutdownGUI.resources.dll" Source="..\bin\es\FOGShutdownGUI.resources.dll" />
              <File Id="Moduleses" Name="Modules.resources.dll" Source="..\bin\es\Modules.resources.dll" />
            </Component>
          </Directory>           
          <Directory Id="euDirectory" Name="eu">
            <Component Id="BasqueComponent" Guid="2a16f840-bcdf-4a54-9294-4ceedbf0898b" DiskId="1">
              <File Id="ShutdownGUIeu" Name="FOGShutdownGUI.resources.dll" Source="..\bin\eu\FOGShutdownGUI.resources.dll" />
              <File Id="Moduleseu" Name="Modules.resources.dll" Source="..\bin\eu\Modules.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="huDirectory" Name="hu">
            <Component Id="HungarianComponent" Guid="95f5272c-4990-4133-aab0-1fd6d1ae6bf6" DiskId="1">
              <File Id="ShutdownGUIhu" Name="FOGShutdownGUI.resources.dll" Source="..\bin\hu\FOGShutdownGUI.resources.dll" />
              <File Id="Moduleshu" Name="Modules.resources.dll" Source="..\bin\hu\Modules.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="ptDirectory" Name="pt">
            <Component Id="PortugueseComponent" Guid="dd49ed8e-ef7a-4e46-acb2-d195e69fc9c4" DiskId="1">
              <File Id="ShutdownGUIpt" Name="FOGShutdownGUI.resources.dll" Source="..\bin\pt\FOGShutdownGUI.resources.dll" />
              <File Id="Modulespt" Name="Modules.resources.dll" Source="..\bin\pt\Modules.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="csDirectory" Name="cs">
            <Component Id="CzechComponent" Guid="b85c50a6-bb70-417b-ae84-be2c58056d59" DiskId="1">
              <File Id="ShutdownGUIcs" Name="FOGShutdownGUI.resources.dll" Source="..\bin\cs\FOGShutdownGUI.resources.dll" />
              <File Id="Modulescs" Name="Modules.resources.dll" Source="..\bin\cs\Modules.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="roDirectory" Name="ro">
            <Component Id="RomanianComponent" Guid="36a063e4-a534-4a33-8d9a-49103c7b46b3" DiskId="1">
              <File Id="ShutdownGUIro" Name="FOGShutdownGUI.resources.dll" Source="..\bin\ro\FOGShutdownGUI.resources.dll" />
              <File Id="Modulesro" Name="Modules.resources.dll" Source="..\bin\ro\Modules.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="plDirectory" Name="pl">
            <Component Id="PolishComponent" Guid="07b3e50e-881b-4152-8be3-4254d494f90a" DiskId="1">
              <File Id="ShutdownGUIpl" Name="FOGShutdownGUI.resources.dll" Source="..\bin\pl\FOGShutdownGUI.resources.dll" />
              <File Id="Modulespl" Name="Modules.resources.dll" Source="..\bin\pl\Modules.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="itDirectory" Name="it">
            <Component Id="ItalianComponent" Guid="4059eb9b-cd44-4059-a7ff-d6c9376b7d4e" DiskId="1">
              <File Id="ShutdownGUIit" Name="FOGShutdownGUI.resources.dll" Source="..\bin\it\FOGShutdownGUI.resources.dll" />
              <File Id="Modulesit" Name="Modules.resources.dll" Source="..\bin\it\Modules.resources.dll" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="StartupFolder" Name="Startup">
        <Component Id="FOGUserServiceShortcutComponenet" Guid="73817c16-d1fd-49e4-8f86-4fa3ae1dc203">
          <Shortcut Id="FOGUserServiceShortcut" Name="FOG User Service" Description="A FOG Service for the user"
                    Target="[INSTALLDIR]FOGUserService.exe" WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue Root="HKCU"
                         Key="Software\FOG" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>

</Wix>