<?xml version="1.0"?>

<!--
 FOG Service : A computer management client for the FOG Project
 Copyright (C) 2014-2017 FOG Project

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 3
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Product Id="*" Name="FOG Service" Language="1033" Version="0.11.9" UpgradeCode="1CCFDEAF-53E9-43AC-AE18-F9F86CEFA4EA"
           Manufacturer="FOG">
    <Package Description="FOG Service" Comments="A client for the FOG project" InstallerVersion="300" Compressed="yes"
             InstallScope="perMachine" />
    <!-- Remove old versions -->
    <Upgrade Id="1CCFDEAF-53E9-43AC-AE18-F9F86CEFA4EA">
      <UpgradeVersion OnlyDetect="yes" Minimum="0.0.0" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
      <UpgradeVersion OnlyDetect="no" Minimum="0.0.0" Maximum="0.11.8" Property="OLDERVERSIONBEINGUPGRADED"
                      IncludeMinimum="no" IncludeMaximum="yes" MigrateFeatures="yes" />
    </Upgrade>
    <InstallExecuteSequence>
      <Custom Action="CheckForLegacy" Before="InstallFiles">NOT REMOVE="ALL"</Custom>
      <Custom Action="SaveSettings" Before="InstallFinalize">NOT REMOVE="ALL"</Custom>
      <Custom Action="SetSettingsProps" Before="SaveSettings" />
      <Custom Action="InstallCert" Before="InstallFinalize">NOT REMOVE="ALL"</Custom>
      <Custom Action="SetFOGCAProp" Before="InstallFOGCA" />
      <Custom Action="SetCertProp" Before="InstallCert" />

      <Custom Action="InstallFOGCA" After="SaveSettings">NOT REMOVE="ALL"</Custom>
      <Custom Action="UninstallCert" After="InstallFiles">REMOVE="ALL"</Custom>

      <Custom Action="UninstallFOGCA" After="InstallFiles">REMOVE="ALL"</Custom>
      <Custom Action="CleanTasks" After="InstallFiles"></Custom>
      
      <Custom Action="SetCleanupProp" Before="Cleanup" />
      <Custom Action="Cleanup" After="InstallFiles">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>
    
    <UI>
      <ProgressText Action="CheckForLegacy">Checking for legacy client</ProgressText>
      <ProgressText Action="SaveSettings">Saving settings</ProgressText>
      <ProgressText Action="InstallCert">Pinning FOG Server</ProgressText>
      <ProgressText Action="InstallFOGCA">Pinning FOG Project</ProgressText>
      <ProgressText Action="CleanTasks">Cleaning Green FOG tasks</ProgressText>
      <ProgressText Action="UninstallCert">Unpinning FOG server</ProgressText>
      <ProgressText Action="UninstallFOGCA">Unpinning FOG Project</ProgressText>
      <ProgressText Action="Cleanup">Removing leftover files</ProgressText>
    </UI>
    
    <!-- Setup the UI -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <Icon Id="icon.ico" SourceFile="icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
    <Property Id="USETRAY" Value="1" />
    <Property Id="WEBROOT" Value="/fog" />
    <Property Id="ROOTLOG" Value="1" />
    <Property Id="WEBADDRESS" Value="fogserver" />
    <Property Id="HTTPS" Value="0" />

    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

    <Binary Id="SetupHelper.CA.dll" SourceFile="..\bin\SetupHelper.CA.dll" />
    <CustomAction Id="CheckForLegacy" Return="check" Impersonate="no" Execute="deferred" BinaryKey="SetupHelper.CA.dll" 
                  DllEntry="CheckForLegacy" />
    <CustomAction Id="SaveSettings" Return="check" Impersonate="no" Execute="deferred" BinaryKey="SetupHelper.CA.dll"
                 DllEntry="SaveSettings" />   
    <CustomAction Id="InstallCert" Return="check" Impersonate="no" Execute="deferred" BinaryKey="SetupHelper.CA.dll"
                  DllEntry="InstallCert" />
    <CustomAction Id="UninstallCert" Return="check" Impersonate="no" Execute="deferred" BinaryKey="SetupHelper.CA.dll"
                  DllEntry="UninstallCert" />
    <CustomAction Id="CleanTasks" Return="check" Impersonate="no" Execute="deferred" BinaryKey="SetupHelper.CA.dll"
                  DllEntry="CleanTasks" />
    <CustomAction Id="Cleanup" Return="check" Impersonate="no" Execute="deferred" BinaryKey="SetupHelper.CA.dll"
                   DllEntry="Cleanup" />
    
    <CustomAction Id="SetCleanupProp" Property="Cleanup" Value="sINSTALLDIR=[INSTALLDIR];" />
    <CustomAction Id="SetSettingsProps" Property="SaveSettings" Value="sHTTPS=[HTTPS];sUSETRAY=[USETRAY];sWEBADDRESS=[WEBADDRESS];sWEBROOT=[WEBROOT];sROOTLOG=[ROOTLOG];sProductVersion=[ProductVersion];sINSTALLDIR=[INSTALLDIR]" />
    <CustomAction Id="SetCertProp" Property="InstallCert" Value="sHTTPS=[HTTPS];sUSETRAY=[USETRAY];sWEBADDRESS=[WEBADDRESS];sWEBROOT=[WEBROOT];sROOTLOG=[ROOTLOG];sProductVersion=[ProductVersion];sINSTALLDIR=[INSTALLDIR]" />

    <CustomAction Id="SetFOGCAProp" Property="InstallFOGCA" Value="CAFile=[INSTALLDIR]fog.ca.cer" />
    <CustomAction Id="InstallFOGCA" Return="check" Impersonate="no" Execute="deferred" BinaryKey="SetupHelper.CA.dll" DllEntry="InstallFOGCert" />
    <CustomAction Id="UninstallFOGCA" Return="check" Impersonate="no" Execute="deferred" BinaryKey="SetupHelper.CA.dll" DllEntry="UninstallFOGCert" />

    
    <UIRef Id="DialogStructure" />
    <!-- Configure what to install -->
    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />
    <Directory Id="TARGETDIR" Name="SourceDir"/>
    <Feature Id="Base" Title="FOG Service" Description="A client for the FOG server" Level="1">
      <ComponentRef Id="StandardComponent" />
      <ComponentRef Id="GermanComponent"/>
      <ComponentRef Id="FrenchComponent"/>
      <ComponentRef Id="DutchComponent"/>
      <ComponentRef Id="FOGUserServiceShortcutComponenet" />
    </Feature>
  </Product>
</Wix>