<?xml version="1.0" encoding="utf-8"?>
<!--
 FOG Service : A computer management client for the FOG Project
 Copyright (C) 2015 FOG Project

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 3
 of the License, or (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
  
 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="Dialog_Config" Width="370" Height="270" Title="Configure">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Property="WEBADDRESS" Type="Edit" Id="ServerIP" Width="287" Height="15" X="75" Y="22" Text="fog-server" />
                <Control Type="Text" Id="ServerIPLabel" Width="60" Height="12" X="8" Y="24" Text="Server Adress:" />
                <Control Property="USETRAY" Type="CheckBox" Id="UseTray" Width="83" Height="17" X="8" Y="60" Text="Enable FOG Tray" Default="yes"
						 CheckBoxValue="1" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>