<?xml version="1.0"?>

<!--
 FOG Service : A computer management client for the FOG Project
 Copyright (C) 2014-2015 FOG Project

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 3
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="FOG">
          <Component Id="StandardComponent" Guid="6B3603AE-3C03-4322-AA6F-6BA7B2417304" DiskId="1">

            <File Id="FOGService" Name="FOGService.exe" Source="..\bin\FOGService.exe">
              <fire:FirewallException Id="FOGServiceFW" Name="FOGService" Protocol="udp" Scope="any" />
            </File>

            <File Id="AbstractService" Name="AbstractService.dll" Source="..\bin\AbstractService.dll" />
            <File Id="LicenseFile" Name="license.rtf" Source="license.rtf" />
            <File Id="Core" Name="Core.dll" Source="..\bin\Core.dll" />
            <File Id="Modules" Name="Modules.dll" Source="..\bin\Modules.dll" />
            <File Id="Power" Name="Power.exe" Source="..\bin\Power.exe" />

            <File Id="FOGTray" Name="FOGTray.exe" Source="..\bin\FOGTray.exe">
              <fire:FirewallException Id="FOGTrayFW" Name="FOGTray" Protocol="udp" Scope="any" />
            </File>

            <File Id="FOGUpdateHelper" Name="FOGUpdateHelper.exe" Source="..\bin\FOGUpdateHelper.exe" />
            <File Id="FOGUpdateWaiter" Name="FOGUpdateWaiter.exe" Source="..\bin\FOGUpdateWaiter.exe" />
            <File Id="FOGShutdownGUI" Name="FOGShutdownGUI.exe" Source="..\bin\FOGShutdownGUI.exe">
              <fire:FirewallException Id="FOGTNGUIFW" Name="FOGNGUI" Protocol="udp" Scope="any" />
            </File>
            <File Id="FOGUserService" Name="FOGUserService.exe" Source="..\bin\FOGUserService.exe">
              <fire:FirewallException Id="FOGUserServiceFW" Name="FOGUserService" Protocol="udp" Scope="any" />
            </File>
            <File Id="TaskScheduler" Name="Microsoft.Win32.TaskScheduler.dll"
                  Source="..\bin\Microsoft.Win32.TaskScheduler.dll" />
            <File Id="Newtonsoft.Json" Name="Newtonsoft.Json.dll"
                  Source="..\bin\Newtonsoft.Json.dll" />
            <File Id="log4net" Name="log4net.dll" Source="..\bin\log4net.dll" />
            <File Id="SuperSocket.Common" Name="SuperSocket.Common.dll" Source="..\bin\SuperSocket.Common.dll" />
            <File Id="SuperSocket.SocketBase" Name="SuperSocket.SocketBase.dll"
                  Source="..\bin\SuperSocket.SocketBase.dll" />
            <File Id="SuperSocket.SocketEngine" Name="SuperSocket.SocketEngine.dll"
                  Source="..\bin\SuperSocket.SocketEngine.dll" />
            <File Id="SuperWebSocket" Name="SuperWebSocket.dll" Source="..\bin\SuperWebSocket.dll" />
            <File Id="WebSocket4Net" Name="WebSocket4Net.dll" Source="..\bin\WebSocket4Net.dll" />


            <ServiceInstall
              Id="ServiceInstaller"
              Type="ownProcess"
              Name="FOGService"
              DisplayName="FOGService"
              Description="Perform tasks for the FOG Server"
              Start="auto"
              ErrorControl="normal">
              <ServiceDependency Id="SENS" /> <ServiceDependency Id="COMSysApp" />
            </ServiceInstall>
            <ServiceControl Id="ConfigureService" Stop="both" Remove="uninstall" Name="FOGService" Wait="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="StartupFolder" Name="Startup">
        <Component Id="FOGUserServiceShortcutComponenet" Guid="73817c16-d1fd-49e4-8f86-4fa3ae1dc203">
          <Shortcut Id="FOGUserServiceShortcut" Name="FOG User Service" Description="A FOG Service for the user"
                    Target="[INSTALLDIR]FOGUserService.exe" WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue Root="HKCU"
                         Key="Software\FOG" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>

</Wix>