<?xml version="1.0"?>
<!--
 FOG Service : A computer management client for the FOG Project
 Copyright (C) 2015 FOG Project

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 3
 of the License, or (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
  
 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Merge Id="VCRedist" SourceFile="..\..\Microsoft_VC90_CRT_x86.msm" DiskId="1" Language="0"/>
			
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="FOG">
					<Component Id="StandardComponent" Guid="6B3603AE-3C03-4322-AA6F-6BA7B2417304" DiskId="1">
						<File Id="FOGService" Name="FOGService.exe" Source="..\bin\FOGService.exe"/>
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf"/>
						<File Id="AbstractModule" Name="AbstractModule.dll" Source="..\bin\AbstractModule.dll"/>
						<File Id="AutoLogOut" Name="AutoLogOut.dll" Source="..\bin\AutoLogOut.dll"/>
						<File Id="ClientUpdater" Name="ClientUpdater.dll" Source="..\bin\ClientUpdater.dll"/>						
						<File Id="CommunicationHandler" Name="CommunicationHandler.dll" Source="..\bin\CommunicationHandler.dll"/>
						<File Id="DisplayManager" Name="DisplayManager.dll" Source="..\bin\DisplayManager.dll"/>
						<File Id="GreenFOG" Name="GreenFOG.dll" Source="..\bin\GreenFOG.dll"/>
						<File Id="HostnameChanger" Name="HostnameChanger.dll" Source="..\bin\HostnameChanger.dll"/>		
						<File Id="EncryptionHandler" Name="EncryptionHandler.dll" Source="..\bin\EncryptionHandler.dll"/>
						<File Id="LogHandler" Name="LogHandler.dll" Source="..\bin\LogHandler.dll"/>
						<File Id="NotificationHandler" Name="NotificationHandler.dll" Source="..\bin\NotificationHandler.dll"/>
						<File Id="PipeClient" Name="PipeClient.dll" Source="..\bin\PipeClient.dll"/>
						<File Id="PipeServer" Name="PipeServer.dll" Source="..\bin\PipeServer.dll"/>
						<File Id="RegistryHandler" Name="RegistryHandler.dll" Source="..\bin\RegistryHandler.dll"/>
						<File Id="ShutdownHandler" Name="ShutdownHandler.dll" Source="..\bin\ShutdownHandler.dll"/>
						<File Id="SnapinClient" Name="SnapinClient.dll" Source="..\bin\SnapinClient.dll"/>
						<File Id="FOGTray" Name="FOGTray.exe" Source="..\bin\FOGTray.exe"/>
						<File Id="TaskReboot" Name="TaskReboot.dll" Source="..\bin\TaskReboot.dll"/>
						<File Id="UserHandler" Name="UserHandler.dll" Source="..\bin\UserHandler.dll"/>
						<File Id="FOGUpdateHelper" Name="FOGUpdateHelper.exe" Source="..\bin\FOGUpdateHelper.exe"/>
						<File Id="System.Threading.Tasks.NET35" Name="System.Threading.Tasks.NET35.dll" Source="..\bin\System.Threading.Tasks.NET35.dll"/>
						<File Id="libeay32" Name="libeay32.dll" Source="..\bin\libeay32.dll"/>
						<File Id="ssleay32" Name="ssleay32.dll" Source="..\bin\ssleay32.dll"/>
						<File Id="ManagedOpenSsl" Name="ManagedOpenSsl.dll" Source="..\bin\ManagedOpenSsl.dll"/>
						<File Id="FOGUpdateWaiter" Name="FOGUpdateWaiter.exe" Source="..\bin\FOGUpdateWaiter.exe"/>
						<File Id="FOGUserService" Name="FOGUserService.exe" Source="..\bin\FOGUserService.exe"/>
						<File Id="TaskScheduler" Name="Microsoft.Win32.TaskScheduler.dll" Source="..\bin\Microsoft.Win32.TaskScheduler.dll"/>
						

						<ServiceInstall
							Id="ServiceInstaller" 
							Type="ownProcess"
							Name="FOGService"
							DisplayName="FOGService"
							Description="Perform tasks for the FOG Server"
							Start="auto"
							ErrorControl="normal"><ServiceDependency Id="SENS" /> <ServiceDependency Id="COMSysApp" />
						</ServiceInstall>
      					<ServiceControl Id="ConfigureService" Stop="both" Remove="uninstall" Name="FOGService" Wait="yes" />
					</Component>
		            <Component Id="ServerRegistry" Guid="5914aedb-e02d-4a6a-8622-b0ba561041e1" NeverOverwrite="yes" Permanent="yes">
		                <RegistryKey Root="HKLM" Key="SOFTWARE\FOG">
		                    <RegistryValue Name="Server" Type="string" Value="[WEBADDRESS]" />
		                </RegistryKey>
		            </Component>
		            <Component Id="TrayRegistry" Guid="d5b010c4-d72a-410d-a865-901afdcc97ba" NeverOverwrite="yes" Permanent="yes">
		                <RegistryKey Root="HKLM" Key="SOFTWARE\FOG">
		                    <RegistryValue Name="Tray" Type="string" Value="[USETRAY]" />
		                </RegistryKey>
		            </Component>	
		            <Component Id="WebRootRegistry" Guid="4d726fa5-f228-4efa-b006-872efa673881" NeverOverwrite="yes" Permanent="yes">
		                <RegistryKey Root="HKLM" Key="SOFTWARE\FOG">
		                    <RegistryValue Name="WebRoot" Type="string" Value="[WEBROOT]" />
		                </RegistryKey>
		            </Component>
		            <Component Id="HttpsRegistry" Guid="ca9bbfbd-4c14-49ad-9a6e-ecb329197561" NeverOverwrite="yes" Permanent="yes">
		                <RegistryKey Root="HKLM" Key="SOFTWARE\FOG">
		                    <RegistryValue Name="HTTPS" Type="string" Value="[HTTPS]" />
		                </RegistryKey>
		            </Component>	
		            <Component Id="VersionRegistry" Guid="32919e48-2937-4624-b991-c81fa438f327">
		                <RegistryKey Root="HKLM" Key="SOFTWARE\FOG">
		                    <RegistryValue Name="Version" Type="string" Value="[ProductVersion]" />
		                </RegistryKey>
		            </Component>	
				
								
				</Directory>
			</Directory>
			<Directory Id="StartupFolder" Name="Startup">
					<Component Id="FOGUserServiceShortcutComponenet" Guid="73817c16-d1fd-49e4-8f86-4fa3ae1dc203">
						<Shortcut Id="FOGUserServiceShortcut" Name="FOG User Service" Description="A FOG Service for the user" 
						  Target="[INSTALLDIR]FOGUserService.exe" WorkingDirectory="INSTALLFOLDER" />
			          <RegistryValue Root="HKCU"
			            Key="Software\FOG" Name="installed" Type="integer" Value="1" KeyPath="yes"/>				
					</Component>			
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>