<?xml version="1.0"?>

<!--
 FOG Service : A computer management client for the FOG Project
 Copyright (C) 2014-2015 FOG Project

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 3
 of the License, or (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
  
 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="FOG Service" Language="1033" Version="0.8.0" UpgradeCode="1CCFDEAF-53E9-43AC-AE18-F9F86CEFA4EA"
           Manufacturer="FOG">
    <Package Description="FOG Service" Comments="A client for the FOG project" InstallerVersion="300" Compressed="yes"
             InstallScope="perMachine" />
    <!-- Remove old versions -->
    <Upgrade Id="1CCFDEAF-53E9-43AC-AE18-F9F86CEFA4EA">
      <UpgradeVersion OnlyDetect="yes" Minimum="0.0.0" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
      <UpgradeVersion OnlyDetect="no" Minimum="0.0.0" Maximum="0.7.9" Property="OLDERVERSIONBEINGUPGRADED"
                      IncludeMinimum="no" IncludeMaximum="yes" MigrateFeatures="yes" />
    </Upgrade>
    <InstallExecuteSequence>
      <Custom Action="InstallCert" After="InstallFiles">NOT REMOVE="ALL"</Custom>
      <Custom Action="UninstallCert" After="InstallFiles">REMOVE="ALL"</Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>
    <!-- Setup the UI -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <Icon Id="icon.ico" SourceFile="icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
    <Property Id="USETRAY" Value="1" />
    <Property Id="WEBROOT" Value="/fog" />
    <Property Id="WEBADDRESS" Value="fog-server" />
    <Property Id="HTTPS" Value="0" />
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

    <Binary Id="SetupHelper.CA.dll" SourceFile="..\bin\SetupHelper.CA.dll" />
    <CustomAction Id="InstallCert" Return="check" Impersonate="no" Execute="deferred" BinaryKey="SetupHelper.CA.dll" DllEntry="InstallCert" />
    <CustomAction Id="UninstallCert" Return="check" Impersonate="no" Execute="deferred" BinaryKey="SetupHelper.CA.dll" DllEntry="UninstallCert" />


    <UIRef Id="DialogStructure" />
    <!-- Configure what to install -->
    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />
    <Directory Id="TARGETDIR" Name="SourceDir">
    </Directory>
    <Feature Id="Base" Title="FOG Service" Description="A client for the FOG server" Level="1">
      <ComponentRef Id="StandardComponent" />
      <ComponentRef Id="ServerRegistry" />
      <ComponentRef Id="TrayRegistry" />
      <ComponentRef Id="WebRootRegistry" />
      <ComponentRef Id="HttpsRegistry" />
      <ComponentRef Id="FOGUserServiceShortcutComponenet" />
      <ComponentRef Id="VersionRegistry" />
    </Feature>
  </Product>
</Wix>